<h1>Admin Dashboard</h1>


<section class="jumbotron">
  <p>There are <%= @product_total %> products in your shop.</p>
  <%= link_to 'All Products', '/admin/products', class: 'btn btn-primary' %>
</section>

<section class="jumbotron">
  <p>There are <%= @category_total %> categories in your shop. </p>
  <%= link_to 'All Categories', '/admin/products', class: 'btn btn-primary' %>
</section>

